<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Head First Java/src/chapter_11/MiniMusicCmdLine.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chapter_11.MiniMusicCmdLine"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="args[0] = 102&#13;&#10;args[1] = 30"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Head First Java"/>
</launchConfiguration>
